body {
  background: #d8d8d8;
  margin: 0 auto;
}

header {
  background: #f8f8f8;
  text-align: center;
  border: 1px solid white;
}
header h1 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem;
}
header nav {
  padding: 5px;
}
header nav a {
  padding: 30px;
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
}

main {
  background: #f8f8f8;
  border: 1px solid white;
  margin-top: 10px;
}
main .chamada {
  width: 96%;
  margin: 0 auto;
}
main .chamada h1 {
  text-align: center;
}
main span {
  text-align: right;
  background: #f8e196;
  height: 50px;
  width: 96%;
  margin: 0 auto;
  display: block;
}
main span button {
  background: black;
  color: white;
  display: inline;
  margin: 11px 10px;
  padding: 5px 50px;
}

article {
  background: #f8f8f8;
  height: 835px;
}
article p {
  display: block;
  width: 96%;
  margin: 0 auto;
  padding: 20px 0px;
}

section {
  clear: both;
}
section div {
  width: 96%;
  margin: 0 auto;
}
section div img {
  float: left;
  width: 250px;
  margin: 20px 0px;
}
section div h2 {
  float: left;
  padding: 75px 0px;
  margin-left: 15px;
}

.evento {
  text-align: left;
}
.evento-h1 {
  color: red;
}